.contenedor{

width: 1300px;
height: 400px;
background-color: blueviolet;
display: flex;
flex-direction: column;
}

.encabezado {

width: 1300px;
height: 200px;
background-color: aqua;

}
.sociales{

    width: 1300px;
    height: 400px;
    background-color: blue;



}
.tecnologia{

    width: 1300px;
    height: 400px;
    background-color: rgb(194, 44, 136);

}
.igles{

    width: 1300px;
    height: 700px;
    background-color: rgb(128, 204, 29);

}